$bgColor: #F8F8F8;
$light-gray: #7E7E82;
$dark-gray: #1B1C21;
$border-color-blue: #B8FFEC;
$border-color-gray: #EAEAEA;
$modal-color: #ff3e79;

$breakpoint_tablet: 768px;
$breakpoint_desktop: 1366px;

