ul {
  padding-inline-start: 0;
}
.price {
  margin-top: 30px;
  &__tablet {
    display: none;
  }
  &__notes {
    margin-left: 24px;
    &--config {
      max-width: 420px;
      font-size: 14px;
    }
    &--link {
      margin-top: 10px;
      display: inline-flex;
      font-size: 16px;
      color: $dark-gray;
    }
    &--arrow {
      width: 24px;
      height: 24px;
      background-image: url(../img/common/more.svg);
    }
  }
}
.brand2 {
  &__card {
    margin-top: 16px;
    margin-left: 16px;
    width: 260px;
    height: 200px;
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 6px;
  }

  &__main {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  &__title {
    margin-top: 12px;
    margin-left: 16px;
    font-size: 14px;
    color: $light-gray;
  }
  &__desc {
    margin-left: 16px;
    font-size: 14px;
    color: $dark-gray;
  }
  &__btn {
    width: 120px;
    height: 32px;
    border: none;
    position: absolute;
    bottom: 0;
    right: 10px;
    background-color: $modal-color;
    border-radius: 16px;
    color: #fff;
    font-family: TTLakes, Sans-serif, Arial, serif;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: -0.15px;
    padding-left: 12px;
    background-image: url(../img/common/goside.svg);
    background-repeat: no-repeat;
    background-position: center right;
  }
  &__go {
    position: absolute;
    bottom: 10%;
    right: 10%;
    width: 40px;
    height: 40px;
    background-image: url(../img/common/go.svg);
  }
  &__button::before {
    content: url(../img/common/arrow-link.svg);
    transform: translateX(-5px);
  }
  &__button {
    display: none;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    margin-left: 32px;
  }
  &--company-lenovo {
    background-image: url(../img/components/brand-repair/BitmapLenovo.svg);
  }
  &--company-samsung {
    background-image: url(../img/components/brand-repair/BitmapSamsung.svg);
  }
  &--company-apple {
    background-image: url(../img/components/brand-repair/Bitmapapple.svg);
  }
  &--company-bosch {
    background-image: url(../img/components/brand-repair/BitmapBosch.svg);
  }
  &--company-hp {
    background-image: url(../img/components/brand-repair/Bitmaphp.svg);
  }
  &--company-acer {
    background-image: url(../img/components/brand-repair/Bitmapacer.svg);
  }
  &--company-sony {
    background-image: url(../img/components/brand-repair/Bitmapsony.svg);
  }
  &--company-viewSonic {
    background-image: url(../img/components/brand-repair/BitmapViewsonic.svg);
  }
}
.swiper-pagination {
  margin-top: 16px;
  position: relative;
  &-bullet {
    background-color: gray;
  }
}


@media (min-width: $breakpoint_tablet) {
  .brand2 {
    display: none;
    &__btn {
      &--tablet {
        position: static;
      }
    }
  }
  .price {
    &__tablet {
      display: flex;
      flex-direction: column;
      margin: 0 24px;
      margin-top: 30px;
    }
    &__title {
      display: flex;
      padding: 24px 0px;
      margin: 0 16px;
    }
    &__table {
      background-color: #fff;
      border-radius: 10px;
    }
    &__row {
      display: flex;
      flex-wrap: wrap;
      border-bottom: 1px solid #ccc;
      padding: 24px 0px;
      margin: 0 16px;
    }
    &__row:last-child {
      border: none;
    }
    &__row:first-child {
      padding-top: 32px;
    }
    &__cell {
      flex: 3;
    }
    &__cell2 {
      flex: 1;
    }
    &__cell3 {
      flex: 1;
    }
    &__notes {
      margin-top: 20px;
      margin-left: 24px;
      &--config {
        max-width: 420px;
        font-size: 14px;
      }
      &--link {
        font-size: 16px;
        color: $dark-gray;
      }
    }
  }
  .swiper-pagination {
    display: none;
  }
}

@media (min-width: $breakpoint_desktop) {
  .brand2 {
    max-width: 80vw;
    padding: 24px 33px;
    &__card {
      width: 213px;
    }
  }
}
